<component name="ArtifactManager">
  <artifact type="war" name="spring-oauth-client:war">
    <output-path>$PROJECT_DIR$/spring-oauth-client/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>spring-oauth-client</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="spring-oauth-client-1.0.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="spring-oauth-client:war exploded" />
    </root>
  </artifact>
</component>